@import "tailwindcss";

/* Ticker Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex !important;
  white-space: nowrap !important;
  animation: marquee 35s linear infinite !important;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

/* Hide scrollbar for category menu */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}